/* General Styling */

* {
    background-color:  #b3b3ff;
    font-family: Arial, Helvetica, sans-serif;
}

/* Home Page */

#mainpageheader {
    font-size: 64px;
    text-align: center;
    text-transform: uppercase;
}

.gdancing {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
.listofrecipes {
    font-size: 32px;
    text-align: center;
}

.linkstorecipes li {
    list-style: none;
    font-size: 24px;
    text-align: center;
}

a {
    text-decoration: none;
}

/* Lasagna */ 

#lasagnaheader {
    font-size: 64px;
    text-align: center;
    text-transform: uppercase;
    font-family: fantasy;
}

.lasagnapicture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

.lasangarecipe, p {
    text-align: center;
    margin-top: 3%;
}

/* Teriyaki Chicken */

#teriyakiheader {
    font-size: 64px;
    text-align: center;
    text-transform: uppercase;
    font-family: fantasy;
}

.teriyakipicture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

.teriyakirecipe, p {
    margin-top: 3%;
    text-align: center;
}